main {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  gap: 4rem;
}

.search-box {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
input.search-rental {
  width: 70%;
  padding: 1.5rem;
  font-size: 2rem;
}

.car-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.car-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  transition: transform 0.3s ease;
  background-color: black;
}
.car-item:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 2px black;
}
.car-img {
  width: 20rem;
  height: 10rem;
  background-color: rgb(14, 14, 14);
  border-radius: 1rem;
  background-image: url("https://freepngimg.com/thumb/car/3-2-car-free-download-png.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.car-information {
  padding: 0.5rem;
}
