@import url("vars.css");

main {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  overflow-x: hidden;
}
.content {
  margin: 1rem;
  margin-bottom: 0;
  flex: 1;
  border-right: 1px solid var(--bg-third);
  border-left: 1px solid var(--bg-third);
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.sidebar {
  background: var(--bg-second);
  width: 20rem;
  transition: all 0.3s ease;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0.5rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.3rem;
  transition: background 0.3s ease;
}
.sidebar-header:hover {
  background: rgba(0, 0, 0, 0.466);
}

.sidebar-left-hidden {
  margin-left: -17rem;
}
.sidebar-right-hidden {
  margin-right: -17rem;
}

.filter-group {
  display: flex;
  flex-direction: column;
}
.filter-group-header {
  margin: 0.5rem 0;
  border-bottom: 1px solid var(--bg-third);
}
.filter-group-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.filter-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px;
  gap: 0.5rem;
  background: var(--bg-base);
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  user-select: none;
}
.filter-btn.is-selected {
  color: var(--col-accent);
  box-shadow: 0px 0px 2px 2px var(--col-accent);
}
.filter-btn:hover {
  box-shadow: 0px 0px 2px 2px var(--col-accent);
}

.car-item {
  display: flex;
  padding: 1rem;
  background: var(--bg-second);
  border-radius: 1rem;
  gap: 4rem;
}
.car-header {
  border-bottom: 1px solid var(--bg-third);
}
.car-info-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 2rem;
}
.car-specification {
  margin-bottom: 1rem;
}
.car-specification-header {
  color: var(--bg-third);
}
.car-specification-header i {
  color: var(--col-accent);
}

@media (max-width: 1300px) {
  .car-info-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1000px) {
  .car-item {
    flex-direction: column;
    width: 90%;
  }
}
